.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-color: #f9f9f9;
}

.login-title {
    font-size: 2rem;
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(135deg, #f0a500, #e6b100);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background: linear-gradient(135deg, #ca9b00, #a57f00);
}

.login-text {
    margin-top: 10px;
    font-size: 0.9rem;
}

.login-link {
    color: #f0a500;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

.error-message-login {
    color: #d9534f; /* צבע אדום להודעת שגיאה */
    background-color: #f2dede; /* רקע בהיר */
    border: 1px solid #ebccd1; /* גבול */
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    text-align: center;
}
