.register-container {
   padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
  }
  
  .register-title {
    font-size: 2rem;
    color: #333;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .register-input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #218838;
  }
  
  .register-text {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  
  .register-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-link:hover {
    text-decoration: underline;
  }

  .error-message-register {
    color: #d9534f; /* צבע אדום להודעת שגיאה */
    background-color: #f2dede; /* רקע בהיר */
    border: 1px solid #ebccd1; /* גבול */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: center;
}